<a href="https://colab.research.google.com/github/Manish-code/DivineAI/blob/main/2_Variables_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `Variables`

In [1]:
num = 99
print(num * 2)
print(num)

num *= 2 
# same as num = num*2
print(num)

#Naming Convension
#snake_case
snake_case = 10

#for constants
CAPITAL_SNAKE_CASE, PI = 100, 3.14159603
#for class
class UpperCamelCase:
    pass

198
99
198

#dunders ('d'ouble 'unders'cores) means something u shouldn't touch

Datatypes

In [2]:
#bool
is_active = True
inactive = not is_active
print(is_active)
print(not is_active)
print(inactive)
print(not inactive)

#str
some_string = "hello i am srting!"
print(some_string)

#list
my_number = [1, 2, 4, 3]
print(my_number)
print(my_number[2])

#dict
my_name = {'first_name': "Humayun", 'last_name': "Kabir"}
print(my_name)
print(my_name['first_name'])
print(my_name['last_name'])

True
False
False
True
hello i am srting!
[1, 2, 4, 3]
4
{'first_name': 'Humayun', 'last_name': 'Kabir'}
Humayun
Kabir

Dynamic Data Typing

In [3]:
game_over = True
print(game_over)

game_over = "Yes, it's over!"
print(game_over)

game_over = 22/7
print(game_over)

#None is nothing
game_over = None
print(game_over)
print(type(game_over))

True
Yes, it's over!
3.142857142857143
None
<class 'NoneType'>

Strings

In [4]:
single_qoute = 'hello'
double_qoute = "hello"
print(single_qoute)
print(double_qoute)

qoute = 'he said, "hello there!"'
print(qoute)
qoute = "he said, 'hello there'"
print(qoute)

qoute = "he said, \"hello there!\""
print(qoute)

#string concatenation
username = "mhkm"
msg = "Hello " + username
print(msg)

#Formatting String
name = "Humayun"
msg = f"Hello Mr. {name} Welcome!"
msg2 = "Hello Mr. {} Welcome!".format(name)
print(msg)
print(msg2)

hello
hello
he said, "hello there!"
he said, 'hello there'
he said, "hello there!"
Hello mhkm
Hello Mr. Humayun Welcome!
Hello Mr. Humayun Welcome!

Convert Data Types

In [5]:
intx = 10
print(type(intx))

floatx = float(intx)
print(floatx)

<class 'int'>
10.0