<a href="https://colab.research.google.com/github/Manish-code/DivineAI/blob/main/6_ListComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List Comprehension

In [1]:
nums = [1, 2, 3, 4]

nums = [x*10 for x in nums]

print(nums)
print([x * 10 for x in nums])

name = 'humayun'

_name = [char.upper() for char in name]
print(_name)

friends = ["sriju", "tani", "puja"]

print([friend[0].upper() for friend in friends])
# print(my_friend)

numbers = range(1, 11)

evens = [x for x in numbers if x % 2 == 0]
odds  = [x for x in numbers if x % 2 == 1]
print(evens)
print(odds)

special = [x * 2 if x % 2 == 0 else x / 2 for x in numbers]
print(special)

[10, 20, 30, 40]
[100, 200, 300, 400]
['H', 'U', 'M', 'A', 'Y', 'U', 'N']
['S', 'T', 'P']
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

#Nested List

In [2]:
maze = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in maze:
    for val in row:
        print(val, end=' ')
    print()
print(maze[2][2])
print()
print()
[[print(val) for val in row ] for row in maze]

1 2 3
4 5 6
7 8 9
9


1
2
3
4
5
6
7
8
9

[[None, None, None], [None, None, None], [None, None, None]]